<div id="front-home" class="header-name">
  <h2>home</h2>
</div>

<div class="index-content">
  <%= artworks.each do %>
     <%= render partial: 'shared/artwork', locals: { artwork: artwork, card_height: "700px", img_height: 600 } %>
  <% end %>
</div>
