// Specific CSS for your home-page

a:hover {
  text-decoration: none;
}
#front-box {
  flex: 1;
  max-width: 50vw;
  position: relative;
  border-left: 3px solid lighten($mid, 40%);
  margin: 0;
  background-color: $light-gray;
  &:hover {
    cursor: pointer;
    h3 {
      opacity: 1;
    }
  }
  h1 {
    color: $dark;
    text-align: left;
    font-size: 4vw;
    font-weight: 400;
    letter-spacing: 0.15em;
    line-height: 50vh;
    margin-left: 50px;
    text-shadow: 1px 1px rgba(196, 43, 34, 0.4);
  }
  h3 {
    color: $dark;
    opacity: 0;
    font-size: 2vw;
    position: absolute;
    top: calc(50% + 100px);
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all ease-in-out .3s;
    i {
      color: $dark;
      font-size: 2vw;
    }
  }
}

#front-box-overlay  {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: all ease-in-out .3s;
  background-color: $dark;
  h3 {
    color: white;
    font-size: 2vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    i {
      color: white;
      font-size: 2vw;
    }
  }
}

#front-content {
  height: calc(100vh - 70px);
  width: 100vw;
}


#front-artwork {

  background-image: url('front-artwork.jpg');
  background-size: cover;
  height: calc(100vh - 70px);
  overflow: hidden;
  z-index: 1;
  box-shadow: 1px 1px 5px rgba(0,0,0, 0.2);
  &:hover {
    #front-box-overlay {
      opacity: 0.8;
      cursor: pointer;
    }
  }
}
