// Specific CSS for your home-page
#front-box {
  position: absolute;
  right: 0;
  width: 50vw;
  height: 90vh;
  bottom: 0;
  background-color: $light-gray;
  z-index: 1;
  box-shadow: 1px 1px 5px rgba(0,0,0, 0.2);
  h2 {
    color: $dark;
    z-index: 3;
    text-align: right;
    font-weight: bold;
    font-spacing: 0.2em;
    margin-right: 20px;
    margin-top: 5px;
  }
}

#front-box-content {
  text-align: right;
  color: $dark;
  z-index: 3;
  margin: 0;
  i {
    font-size: 30px;
    margin-right: 10px;
  }
}

#front-content {
  width: 100vw;
  height: 100vh;
  background-color: $gray;
  z-index: 0;
  position: relative;
}

#front-name {
  h1 {
    color: $mid;
    font-size: 58px;
  }
}

#front-artwork {
    display: block;
  img {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
    width: 80%;
    z-index: 2;
    margin-top: -50%;
  }
}

#front-home {
  position: absolute;
  top: 10px;
  left: 10px;
  span {
    margin: 0;
    font-size: 36px;
    color: $dark;
    font-weight: bold;
  }
}

#front-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  margin: auto 0;
  display: flex;
  align-items: center;
}

