h3 {
  color: $dark;
  text-align: center;
}

.image {
  display: flex;
  justify-content: space-between;
  align-items: center;
  i {
    cursor: pointer;
    font-size: 14px;
    color: $dark;
    &:hover {
      color: $mid;
      font-size: 16px;
    }
  }
}

#show-container {
  margin-top: 10vh;
}

.show-content {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  z-index: 0;
  margin-top: 40px;
  #price {
    text-align: left;
  }
  #description {
    text-align: right;
  }
  h4 {
    color: $dark;
  }
}

img {
  border: solid;
  border-width: 8px;
  padding: 15px;
  border-color: $dark;
  z-index: 3;
  margin: 0 auto;
  display: block;
}
