h3 {
  color: $dark;
  text-align: center;
}

.image {
  display: flex;
  justify-content: space-between;
  align-items: center;
  i {
    cursor: pointer;
    font-size: 14px;
    color: $dark;
    &:hover {
      color: $mid;
      font-size: 16px;
    }
  }
}

#show-container {
  margin-top: 10vh;
  img {
    z-index: 3;
    margin: 0 auto;
    display: block;
    box-shadow: 3.5px 3.5px 10px rgb(20, 20, 20);
  }
}

.show-content {
  z-index: 0;
  margin-top: 40px;
  h4 {
    color: $dark;
    text-align: center;
  }
}

