<div id="front-home" class="header-name">
  <h2>home</h2>
</div>

<div class="index-content">
  <% @artworks.each do |artwork| %>
    <%= render partial: 'shared/artwork', locals: { artwork: artwork, height: "400px"  }%>
  <% end %>
</div>
