<div id="front-home" class="header-name">
  <h2>home</h2>
</div>

<div class="show-content">
  <h3><%= @artwork.title %></h3>
  <%= cl_image_tag @artwork.photo.path, width: 200, height: 300, crop: :fill %>
  <h4><%= @artwork.medium %> <br> <%= @artwork.category %> </h4>
</div>
