<%= link_to artwork_path(artwork) do %>
  <div class="card" style="display: inline-block; height: <%= height %>;">
    <div class="card-img" id="img" style="background-image: url('<%= cl_image_path( artwork.photo.path, {height: 400, width: 400,crop: :fit})%>')">
    </div>
    <div class="card-background">
      <h2><%= artwork.title %></h2>
    </div>
  </div>
<% end %>
