<div class="container">
  <div id="col-img">
    <%= image_tag "Studio-inside" %>
    <h1>S. K. Hammond</h1>
  </div>
  <br>
  <div id="bio">
    <br>
      <h3 id="quote">
      "It is good to love many things, for therein lies the true strength, and whosoever loves much, performs much, and can accomplish much, and what is done in love is well done." -Vincent Van Gogh
      </h3>

    <h2>Bio</h2>
    <p>
      <br>
      What do you see?
      <br>
      "What do I see" is the question I ask myself when I create my watercolor painting of " rocks" and abstracts. Either imagination takes over, and I see shapes of people, animals, trees and all sorts of beautiful organic objects or the shapes just come alive and meld together with the paint to form clusters of chaos and color. I feel successful in a painting when I am in awe of it and spend a long time looking at it to see what mixed feelings it has to offer me.
      <br>
      I hope you enjoy what you see in the paintings and you discover a smile coming upon your face.
    </p>
  </div>
  <div id="studio">
    <h2>Studio</h2>
    <br>
    <div id="studio-images" >
      <div id="col-img-1" class="col-sm-4 col-xs-12">
        <%= image_tag "Studio-front" %>
      </div>
      <div id="col-img-2" class="col-sm-4 col-xs-12">
        <%= image_tag "Studio-door" %>
      </div>
      <div id="col-img-3" class="col-sm-4 col-xs-12 ">
        <%= image_tag "Studio-hearts" %>
      </div>
    </div>
    <div>
    </div>
  </div>
</div>

