<h1>S. K. Hammond</h1>

<h2>Bio</h2>


<h2>Studio</h2>
<div id="studio-images">
  <%= image_tag "studio-out" %>
  <%= image_tag "studio-inside" %>
  <%= image_tag "studio-door" %>
  <%= image_tag "studio-hearts" %>
</div>
