<div id="front-content">
  <div id="front-container">

    <div id="front-name" class="col-xs-12 col-md-4">
      <h1>S.K.Hammond Art</h1>
    </div>

    <div id="front-artwork" class="center col-xs-12 col-md-4 offset-md-4">
      <%= image_tag 'front-artwork.jpg' %>
    </div>

    <div id="front-box-content" class="col-xs-12 col-md-4 offset-md-8">
      <%= link_to '<i class="fa fa-arrow-right" aria-hidden="true"></i>'.html_safe, artworks_path %>
    </div>

  </div>

  <div id="front-box">
     <h2>Artwork</h2>
  </div>
</div>

